<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action= "#" th:action= "@{/view}" th:object = "${UpdateProd}" method="post">
    <div class="form-group">
        <label for="updateProductId">Product Id</label>
        <input type="text" class="form-control" id="updateProductId"  th:field = "*{productId}" placeholder="Enter product Id to update">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Clicking submit will take you to next page where we ask of new details".</p>
</body>
</html>